USE [master]
GO
/****** Object:  Database [ICECREAMPROJECT]    Script Date: 9/17/2018 6:38:38 PM ******/
CREATE DATABASE [ICECREAMPROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ICECREAMPROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ICECREAMPROJECT.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ICECREAMPROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ICECREAMPROJECT_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ICECREAMPROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ICECREAMPROJECT]
GO
/****** Object:  Table [dbo].[TBL_MEMBERSHIP]    Script Date: 9/17/2018 6:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MEMBERSHIP](
	[MEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEM_TYPE] [nvarchar](50) NOT NULL,
	[MEM_PAYMENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 9/17/2018 6:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[u_id] [int] IDENTITY(1,1) NOT NULL,
	[u_name] [nvarchar](50) NOT NULL,
	[u_email] [nvarchar](50) NOT NULL,
	[u_image] [nvarchar](max) NOT NULL,
	[u_contact] [nvarchar](50) NOT NULL,
	[u_password] [nvarchar](50) NOT NULL,
	[u_subs] [int] NULL,
	[u_cpassword] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TBL_MEMBERSHIP] ON 

INSERT [dbo].[TBL_MEMBERSHIP] ([MEM_ID], [MEM_TYPE], [MEM_PAYMENT]) VALUES (1, N'Monthly (15$)', 15)
INSERT [dbo].[TBL_MEMBERSHIP] ([MEM_ID], [MEM_TYPE], [MEM_PAYMENT]) VALUES (2, N'Yearly (150$)', 150)
SET IDENTITY_INSERT [dbo].[TBL_MEMBERSHIP] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TBL_MEMB__8D7F5932AFF6A9AD]    Script Date: 9/17/2018 6:38:38 PM ******/
ALTER TABLE [dbo].[TBL_MEMBERSHIP] ADD UNIQUE NONCLUSTERED 
(
	[MEM_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbl_user__3DF9EF22D650EA2A]    Script Date: 9/17/2018 6:38:38 PM ******/
ALTER TABLE [dbo].[tbl_user] ADD UNIQUE NONCLUSTERED 
(
	[u_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbl_user__F8193DB7D0768F50]    Script Date: 9/17/2018 6:38:38 PM ******/
ALTER TABLE [dbo].[tbl_user] ADD UNIQUE NONCLUSTERED 
(
	[u_contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_MEMBERSHIP] ADD  DEFAULT ((0)) FOR [MEM_PAYMENT]
GO
ALTER TABLE [dbo].[tbl_user]  WITH CHECK ADD FOREIGN KEY([u_subs])
REFERENCES [dbo].[TBL_MEMBERSHIP] ([MEM_ID])
GO
USE [master]
GO
